<!DOCTYPE html>

<html>
  <head>

    <%- include('layout/head') %>



  </head>
  <body>
    <nav>
      <!-- Include ejs partial for nav bar  -->
    </nav>
    <main>
      <h1>Meal Creator</h1>

      <form action="/" method="" class="">

        <input type="text" name="ingredient" placeholder="Enter ingredient" >

        <button type="submit" class="create-meal-button">Create Meal</button>
        
      </form>


    </main>
  </body>
</html>