<!DOCTYPE html>

<html lang="en">

<head>
  <!-- <%- include('../layout/head') %> -->
</head>

<body>
  
  <header>
    <nav>
      <ul>
        <li><a href="....">Home</a></li>
        <li><a href="....">Get Started</a></li>
        <li><a href="....">About Us</a></li>
      </ul>
    </nav>
    <h1>
      Nutri-Track
    </h1>
  </header>
  <main>
    <h2>My Saved Meals</h2>

    


  </main>

</body>

</html>