<!DOCTYPE html>

<html>
  <head>

    <%- include('layout/head') %>



  </head>
  <body>
    <nav>
      <!-- Include ejs partial for nav bar  -->
    </nav>
    <main>
      <h1>Meal Creator</h1>

      <form action="ingredients.ejs" method="POST" class="meal-form">

        <input type="text" name="meal-name" placeholder="Enter meal name" required />

        <!-- possibly use a textarea for the description? -->
        <input type="text" name="meal-description" placeholder="Enter an optional meal description" />

        <input type="text" name="image_url" placeholder="Enter optional image url" />

        <button type="submit" class="create-meal-button">Create Meal</button>
      </form>


    </main>
  </body>
</html>