<!DOCTYPE html>

<html lang="eng">

<head>
  <%- include('../layout/head') %>
  <title>About Us</title>
</head>

<body>

  <header>
    <%- include('../layout/nav') %>
    <h1>About Us</h1>
  </header>

  <div class="jeff">
    <h2>Jeff Borda</h2>
    <img id="jeff-image" src="/public/assets/jeff-borda-photo.JPG ">
    <p>Jeff Borda is a software developer from Seattle with a background in aviation.  After becoming more interested in Software Development, he went back to school to start learning how to code. For fun he likes to code, be with his dog, and discuss the latest UFO conspiracy theories.</p>
  </div>

  <div class="vinh">
    <h2>Vinh Nyugen</h2>
    <img id="vinh-image" src="/public/assets/..">
    <p>Vinh Nguyen has a background in Mechanical, Nuclear, and Electrical Engineering. After completing his studies at the University of Washington, he decided to pursue Software Development to complement his existing skills and knowledge in order to enter the technology industry where he hopes to work on hardware/software development.</p>
  </div>

  <div class="joey">
    <h2>Joey Eisenzimmer</h2>
    <img id="joey-image" src="/public/assets/joey-eisenzimmer-photo.png">
    <p>Joey Eisenzimmer has been working most recently in digital marketing as a project manager. Prior to that, he served for 5 years in the U.S. Marine Corps (2008-2013), then moved into higher education completing his MBA, and is now a full stack web developer. He enjoys learning new technologies, building applications, and leading teams. He considers himself a life long learner and enjoys bringing his knowledge and skills to organizations and teams whenever possible.</p>
  </div>

</body>

</html>