<!DOCTYPE html>

<html>
  <head>

    <%- include('../layout/head') %>
    <title>Get Started</title>
  </head>
  <body>
    <header>
      <%- include('../layout/nav') %>
    </header>
    <main class="get-started">
        <h1>Get Started</h1>
        <p class="how-to-paragraph">This site enables you to add ingredients to a recipe you are using to calculate the total nutrional information. From there, you can view, edit, and determine if the nutritional content is what you're looking for in a meal.</p>

        <h2>How To:</h2>
    <ol>
        <li>Add meal name to form on home page.</li>
        <li>Search for desired ingredients.</li>
        <li>Select ingredients from your search.</li>
        <li>View all ingredients in the generated table.</li>
        <li>Optional: substitute ingredients as needed until recipe is perfect.</li>
        <li>Bon Appétit!</li>
    </ol>

    </main>
  </body>
</html>