<!DOCTYPE html>

<html>
  <head>

    <%- include('../layout/head') %>
    <title>Get Started</title>
  </head>
  <body>
    <header>
      <%- include('../layout/nav') %>
    </header>
    <main class="get-started">
        <h1>Get Started</h1>
  
      <ol>
        <li>This site enables you to add ingredients to a recipe you are using to calculate the total nutrional information. From there, you can view, edit, and determine if the nutritional content is what you're looking for in a meal.</li>
      </ol>


        <h2>How To:</h2>
    <ol>
        <li>1. Click the "Build a Meal" button and enter in the relevant information.</li>
        <li>2. You meal will now be displayed on the homepage under "My Saved Meals". Select your meal.</li>
        <li>3. Under "Add Ingredients", search for an ingredient to add to you meal. Add the appropriate ingredient from the search results.</li>
        <li>4. Continue adding more ingredients until the meal is completed.</li>
        <li>5. Change the amount of the ingredients in grams/ml to the desired values. The table will update accordingly.</li>
        <li>5. When you are done, click on the "Save Amount" button to permanently store the values. You can also remove any ingredients added by mistake.</li>
        <li>6. Bon Appétit!</li>
    </ol>

    </main>
  </body>
</html>