<!DOCTYPE html>

<html>
  <head>

    <%- include('../layout/head') %>



  </head>
  <body>
      <%- include('../layout/nav') %>
    <main>
        <h1>How To:</h1>
        <p class="how-to-paragraph">This site enables you to add ingredients to a recipe you are using to calculate the total nutrional information. <br>From there, you can view, edit, and determine if the nutritional content is what you're looking for in a meal.</br></p>

        <h2>Get Started:</h2>
    <ol>
        <li>Add meal name to form on home page.</li>
        <li>Search for desired ingredients.</li>
        <li>Select ingredients from your search.</li>
        <li>View all ingredients in the generated table.</li>
        <li>Optional: substitute ingredients as needed until recipe is perfect.</li>
        <li>Bon Appétit!</li>
    </ol>

      <!-- <form action="/" method="" class="">

        <input type="text" name="ingredient" placeholder="Enter ingredient" >

        <button type="submit" class="create-meal-button">Create Meal</button> -->
        
      </form>


    </main>
  </body>
</html>