<!DOCTYPE html>

<html>
  <head>

    <%- include('../layout/head') %>
    <title>Get Started</title>
  </head>
  <body>
    <header>
      <%- include('../layout/nav') %>
    </header>
    <main class="get-started">
        <h1>Get Started</h1>
  
      <ol>
        <li>This site enables you to add ingredients to a recipe you are using to calculate the total nutrional information. From there, you can view, edit, and determine if the nutritional content is what you're looking for in a meal.</li>
      </ol>


        <h2>How To:</h2>
    <ol>
        <li>1. Click the "Build a Meal" button and enter the relevant in.</li>
        <li>2. Search for desired ingredients.</li>
        <li>3. Select ingredients from your search.</li>
        <li>4. View all ingredients in the generated table.</li>
        <li>5. Optional: substitute ingredients as needed until recipe is perfect.</li>
        <li>6. Bon Appétit!</li>
    </ol>

    </main>
  </body>
</html>