<!DOCTYPE html>

<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/nav') %>
    </header>
    <main>
      <h1>Meal Name Here (i.e. Steak and Potatoes)</h1>

      <!-- list or table of ingredients down here -->

    </main>
  </body>
</html>