<!DOCTYPE html>

<html>
  <head>
      <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/nav') %>
    </header>
    <main>
      <h1 class="page-header">Meal Creator</h1>

      <div class="meal-form-container">
        <form action="/meal" method="POST" class="meal-form">
  
          <input type="text" name="name" placeholder="Enter meal name" required />
  
          <textarea type="text" name="description" placeholder="Enter an optional meal description" ></textarea>
  
          <input type="text" name="image_url" placeholder="Enter optional image url" />
  
          <button type="submit" class="create-meal-button">Create Meal</button>
        </form>
      </div>


    </main>
  </body>
</html>