.get-started-form {
  display: flex;
  justify-content: center;
}

.get-started-button {
  background-color: rgb(83, 145, 185);
  border: none;
  color: white;
  /* padding: 15px 32px; */
  padding: 3.5vw 6vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.get-started-button:hover {
  cursor: pointer;
}

.page-header {
  margin-top: 10vw;
  margin-bottom: 5vw;
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
}

.saved-meals {
  display: flex;
  flex-flow: space-evenly;
  flex-wrap: wrap;
  justify-content: center;
}

.saved-meals div {
  display: flex;
  flex-direction: column;
  height: 30vw;
  width: 30vw;
  /* outline: 1px solid black; */
  margin: 0 3vw 6vw 3vw;
  
}

.saved-meals h3 {
  margin-bottom: 1vw;
  text-align: center;
  font-weight: bold;
  font-size: 3vw;
}

.meal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden; 
}

/* MEAL CREATOR FORM */
.meal-form-container {
  margin: 0 auto;
  margin-top: 5vw;
  height: 100vw;
  width: 60vw;
  display: flex;
  flex-direction: column;
  /* outline: 1px solid black; */
}

.meal-form-container input {
  margin-bottom: 3vw;
  width: 100%;
}

.meal-form-container textarea {
  margin-bottom: 3vw;
  resize: none;
  width: 99.7%;
  height: 20%;
}

.meal-form-container button {
  background-color: rgb(83, 145, 185);
  border: none;
  color: white;
  padding: 3.5vw 6vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  width: 100%;
  
}

/* Search Results page */

.ingredients-results {
  margin-left: 13vw;
}

.ingredients-results button {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.ingredients-results h2 {
  font-weight: bold;
  font-size: 5vw;
  margin-bottom: 10px;
}

.ingredients-results ul li:first-child {
  font-weight: bold;
}
.create-view-container {
  border: solid;
  margin-bottom: 5px;
}

#add-ingredient {
  margin: 4vw;
}

/* Ingredients List page */

.meal-edit {
  border: solid;
  background-color: white;
  margin-bottom: 25px;
  padding: 5px;
}

.meal-edit h1 {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 2vw;
}
.search {
  padding: 5px;
  margin-bottom: 25px;
}

.search h2 {
  font-size: 3vw;
  font-weight: bold;
  margin-top: 4vw;
  margin-bottom: 3vw;
}

.search form {
  margin-bottom: 2vw;
}

.table-scroll {
  overflow-x: scroll;
  margin-bottom: 2vw;
}

.ingredient-container, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
}

.ingredient-name {
  text-align: left;
  padding: 5px;
  vertical-align: middle;
}

.ingredient-amount {
  text-align: center;
  padding: 5px;
}

.ingredient-calories {
  padding: 5px;
  vertical-align: middle;
}

.ingredient-fat {
  padding: 5px;
  vertical-align: middle;
}

.ingredient-protein {
  padding: 5px;
  vertical-align: middle;
}

.ingredient-carbs {
  padding: 5px;
  vertical-align: middle;
}

.ingredient-fiber {
  padding: 5px;
  vertical-align: middle;
}

.ingredient-sugar {
  padding: 5px;
  vertical-align: middle;
}

.ingredient-delete {
  padding: 5px;
  vertical-align: middle;
}
th.total-title {
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}

.ingredient-container th {
  font-weight: bold;
  background-color: rgb(54, 154, 247);
}

.ingredient-amount input {
  position: relative;
  text-align: center;
  max-width: 60px;
}

#update-amount input {
  margin-bottom: 4vw;
}