<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="....">Get Started</a></li>
      <li><a href="....">About Us</a></li>
    </ul>
  </nav>
  <h1 class="logo">
      Nutri-Track
  </h1>